body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 50px auto;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.form-layout {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding-top: 10px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.image-placeholder {
    width: 100px;
    height: 120px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    color: #666;
}

.form-fields {
    flex: 2;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    text-align: center;
}

.submitBtn {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    display:inline;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background: linear-gradient(to left,rgb(230, 35, 0),rgb(255, 174, 0));
    letter-spacing: 0.7px;
  }
  
  .submitBtn:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .submitBtn:active {
    transform: scale(0.97);
  }
  .cancel {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 50px;;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    display: inline;
    align-items:right;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background: linear-gradient(to left,rgb(230, 35, 0),rgb(255, 174, 0));
    letter-spacing: 0.7px;
  }
  
  .cancel .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .submitBtn:active {
    transform: scale(0.97);
  }